body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: transparent;
  color: white;
  font-family: sans-serif;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.header {
  display: flex;
  justify-content: start;
  background: rgba(25, 25, 26, 0.938); /* Optional subtle gradient */
  padding: 2px;
  margin-bottom: 1px;
  border-radius: 2px 2px 0px 0px;
  /* max-width: 500px;
  max-height: 200px; */
  opacity: 0.8;
}

.header-logo {
  height: 100%;
  width: 496px /* Adjust as needed */
}

/* .header-title {
  font-size: 20px;
  font-weight: bold;
  text-transform: uppercase;
  margin: 0;
  letter-spacing: 1px;
} */

.rankings {
  display: flex;
  justify-content: center; /* centers horizontally */
  align-items: center;     /* centers vertically */
  background: rgba(25, 25, 26, 0.938);
  padding: 2px;
  max-width: 500px;
  max-height: 30px;
  height: 30px;             /* ensure height is fixed */
  opacity: 0.8;
  margin-bottom: 1px;
  border-radius: 1px;
}

.rankings-name {
  text-align: center;
  width: 496px;
  font-size: 20px;         /* optional: make it fit better */
  margin: 0;               /* remove default h5 margin */
  padding: 0;
  text-transform: uppercase;
}

.points-container {
  display: flex;
  justify-content: right; /* centers horizontally */
  align-items: center;     /* centers vertically */
  background: rgba(25, 25, 26, 0.938);
  padding: 2px;
  width: 496px;
  max-height: 30px; 
  height: fit-content;           /* ensure height is fixed */
  opacity: 0.8;
  margin-bottom: 1px;
  border-radius: 1px;
}

.points {
  background: linear-gradient(to bottom, rgb(189, 5, 5), rgb(148, 5, 5));
  display: flex;
  justify-content: center; /* centers horizontally */
  align-items: center;     /* centers vertically */
  width: 50px;
  height: 33px;
  margin-right: 8px; 
  /* width: 100%; */
}

.points-score {
  text-align: center;
  /* min-width: 50px;
  max-width: 50px; */
  /* height: 33px; */
  font-size: 12px;         /* optional: make it fit better */
  font-weight: bold;
  text-transform: uppercase;
}

.container-name {
  color: white;
  margin: 0;
  font-size: 36px;
  margin-bottom: 3px;
  border-radius: 2px;
  max-width: 800px;
  min-width: 500px;
  opacity: 0.8;
}

.overlay {
  background: linear-gradient(to bottom, rgba(25, 25, 26, 0.938), rgba(52, 52, 53, 0.658));
  /* background: rgba(52, 52, 53, 0.884); */
  border-radius: 1px;
  border-color: silver;
  max-width: 800px;
  min-width: 500px;
  opacity: 0.8; /* <-- This controls overall transparency */
}

.racer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 18px;
  border-bottom: 1px white solid;
}

.racer-left {
  display: flex;
  align-items: center;
}

.racer-name {
  margin-left: 8px;
  font-weight: bold;
  text-transform: uppercase;
}

.number {
  background: linear-gradient(to bottom, rgb(189, 5, 5), rgb(148, 5, 5));
  /* background: rgba(190, 6, 6, 0.959); */
  text-align: center;
  min-width: 50px;
  max-width: 50px;
  margin-left: 10px;
  font-weight: bold;
  
}

.racer-score {
  background: linear-gradient(to bottom, rgb(189, 5, 5), rgb(148, 5, 5));
  /* background: rgba(190, 6, 6, 0.959); */
  min-width: 50px;
  max-width: 50px;
  margin-right: 10px;
  text-align: center;
  font-weight: bold;
}

/* .racer-position {
  margin-right: 12px;
  width: 40px;
  text-align: right;
} */

/* .racer:nth-child(1) {
  background: rgb(255, 217, 0);
  color: black;
  font-weight: bold;
}

.racer:nth-child(2) {
  background: rgb(192, 192, 192);
  color: black;
  font-weight: bold;
}

.racer:nth-child(3) {
  background: #cd8032;
  color: black;
  font-weight: bold;
} */

/* .racer-icon {
  height: 40px;
  width: 40px;
  border-radius: 50%;
  object-fit: cover;
  margin-right: 2px;
  margin-left: 2px;
} */